.demoText {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 3px;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#eb7633), color-stop(#f8b85d), to(#eb7633));
  background: linear-gradient(90deg, #eb7633, #f8b85d, #eb7633);
  background-repeat: no-repeat;
  background-size: 80%;
  -webkit-animation: animate 4s linear infinite;
          animation: animate 4s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@-webkit-keyframes animate {
  0% {
    background-position: -300%;
  }
  100% {
    background-position: 300%;
  }
}

@keyframes animate {
  0% {
    background-position: -300%;
  }
  100% {
    background-position: 300%;
  }
}

@media screen and (max-width: 992px) {
  .demoText {
    width: 500px;
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 3px;
    overflow: hidden;
    background: -webkit-gradient(linear, left top, right top, from(#eb7633), color-stop(#f8b85d), to(#eb7633));
    background: linear-gradient(90deg, #eb7633, #f8b85d, #eb7633);
    background-repeat: no-repeat;
    background-size: 80%;
    -webkit-animation: animate 4s linear infinite;
            animation: animate 4s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  @-webkit-keyframes animate {
    0% {
      background-position: -300%;
    }
    100% {
      background-position: 300%;
    }
  }
  @keyframes animate {
    0% {
      background-position: -300%;
    }
    100% {
      background-position: 300%;
    }
  }
}

@media screen and (max-width: 768px) {
  .demoText {
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 3px;
    overflow: hidden;
    background: -webkit-gradient(linear, left top, right top, from(#eb7633), color-stop(#f8b85d), to(#eb7633));
    background: linear-gradient(90deg, #eb7633, #f8b85d, #eb7633);
    background-repeat: no-repeat;
    background-size: 90%;
    -webkit-animation: animate 4s linear infinite;
            animation: animate 4s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  @-webkit-keyframes animate {
    0% {
      background-position: -400%;
    }
    100% {
      background-position: 400%;
    }
  }
  @keyframes animate {
    0% {
      background-position: -400%;
    }
    100% {
      background-position: 400%;
    }
  }
}

@media screen and (max-width: 576px) {
  .demoText {
    width: 350px;
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 3px;
    overflow: hidden;
    background: -webkit-gradient(linear, left top, right top, from(#eb7633), color-stop(#f8b85d), to(#eb7633));
    background: linear-gradient(90deg, #eb7633, #f8b85d, #eb7633);
    background-repeat: no-repeat;
    background-size: 90%;
    -webkit-animation: animate 4s linear infinite;
            animation: animate 4s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  @-webkit-keyframes animate {
    0% {
      background-position: -400%;
    }
    100% {
      background-position: 400%;
    }
  }
  @keyframes animate {
    0% {
      background-position: -400%;
    }
    100% {
      background-position: 400%;
    }
  }
}
/*# sourceMappingURL=demoText.css.map */